header {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;

    .logo {
        margin-top: 30px;
        margin-left: 30px;
        margin-bottom: 70px;
        img {
            max-width: 100%;
        }
    }
    h1 {
        margin-bottom: 20px;
        text-align: center;
        font-family: cabin_semibold;
        font-size: 24px;
    }
    p {
        text-align: center;
        font-family: cabin_bold;
        font-size: 24px;
        color: $color_noir_clair;
    }

}