/* CSS de base */
body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, blockquote, main, article, aside, section {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

li, ul {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: cabin_regular;
}

/* SCSS */
/* VARIABLES */
/* COLORS */
/* CSS */
/* fonts */
@font-face {
  font-family: "cabin_semibolditalic";
  src: url("../fonts/cabin_semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_mediumitalic";
  src: url("../fonts/cabin_mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_bolditalic";
  src: url("../fonts/cabin_bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_semibold";
  src: url("../fonts/cabin_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_regular";
  src: url("../fonts/cabin_regular.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_medium";
  src: url("../fonts/cabin_medium.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_italic";
  src: url("../fonts/cabin_italic.ttf") format("truetype");
}
@font-face {
  font-family: "cabin_bold";
  src: url("../fonts/cabin_bold.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_semibolditalic";
  src: url("../fonts/sourceserifpro_semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_extralightitalic";
  src: url("../fonts/sourceserifpro_extralightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_regular";
  src: url("../fonts/sourceserifpro_regular.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_lightitalic";
  src: url("../fonts/sourceserifpro_lightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_bold";
  src: url("../fonts/sourceserifpro_bold.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_blackitalic";
  src: url("../fonts/sourceserifpro_blackitalic.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_italic";
  src: url("../fonts/sourceserifpro_italic.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_light";
  src: url("../fonts/sourceserifpro_light.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_black";
  src: url("../fonts/sourceserifpro_black.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_semibold";
  src: url("../fonts/sourceserifpro_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_bolditalic";
  src: url("../fonts/sourceserifpro_bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "sourceserifpro_extralight";
  src: url("../fonts/sourceserifpro_extralight.ttf") format("truetype");
}
@font-face {
  font-family: "playfairdisplay_blackitalic";
  src: url("../fonts/playfairdisplay_blackitalic.ttf") format("truetype");
}
@font-face {
  font-family: "playfairdisplay_bolditalic";
  src: url("../fonts/playfairdisplay_bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "playfairdisplay_regular";
  src: url("../fonts/playfairdisplay_regular.ttf") format("truetype");
}
@font-face {
  font-family: "playfairdisplay_italic";
  src: url("../fonts/playfairdisplay_italic.ttf") format("truetype");
}
@font-face {
  font-family: "playfairdisplay_black";
  src: url("../fonts/playfairdisplay_black.ttf") format("truetype");
}
@font-face {
  font-family: "playfairdisplay_bold";
  src: url("../fonts/playfairdisplay_bold.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_extrabolditalic";
  src: url("../fonts/montserrat_extrabolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_semibolditalic";
  src: url("../fonts/montserrat_semibolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_italic";
  src: url("../fonts/montserrat_italic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_regular";
  src: url("../fonts/montserrat_regular.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_black";
  src: url("../fonts/montserrat_black.ttf") format("truetype");
}
@font-face {
  font-family: "montsermontserrat_extraboldrat_regular";
  src: url("../fonts/montserrat_extrabold.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_extralightitalic";
  src: url("../fonts/montserrat_extralightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_semibold";
  src: url("../fonts/montserrat_semibold.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_blackitalic";
  src: url("../fonts/montserrat_blackitalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_mediumitalic";
  src: url("../fonts/montserrat_mediumitalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_bold";
  src: url("../fonts/montserrat_bold.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_thin";
  src: url("../fonts/montserrat_thin.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_extralight";
  src: url("../fonts/montserrat_extralight.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_thinitalic";
  src: url("../fonts/montserrat_thinitalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_light";
  src: url("../fonts/montserrat_light.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_bolditalic";
  src: url("../fonts/montserrat_bolditalic.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_medium";
  src: url("../fonts/montserrat_medium.ttf") format("truetype");
}
@font-face {
  font-family: "montserrat_lightitalic";
  src: url("../fonts/montserrat_lightitalic.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_bold";
  src: url("../fonts/ubuntu_bold.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_courant";
  src: url("../fonts/ubuntu_courant.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_fin";
  src: url("../fonts/ubuntu_fin.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_fin_italic";
  src: url("../fonts/ubuntu_leger_italic.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_leger";
  src: url("../fonts/ubuntu_leger.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_moyen";
  src: url("../fonts/ubuntu_moyen.ttf") format("truetype");
}
@font-face {
  font-family: "ubuntu_moyen_italique";
  src: url("../fonts/ubuntu-moyen_italique.ttf") format("truetype");
}
/*
@media (max-width: 9999px)
*/
header {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
}
header .logo {
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 70px;
}
header .logo img {
  max-width: 100%;
}
header h1 {
  margin-bottom: 20px;
  text-align: center;
  font-family: cabin_semibold;
  font-size: 24px;
}
header p {
  text-align: center;
  font-family: cabin_bold;
  font-size: 24px;
  color: #1c1c1c;
}

footer {
  min-height: 300px;
  margin-top: 100px;
  background-color: #343434;
}

/* ***************************************** */
/* ***************************************** */
/* INPUT                                     */
/* ***************************************** */
/* ***************************************** */
/* FORMAT DE LA STRUCTURE DU CHAMP DE SAISIE */
/* ***************************************** */
.input_box {
  position: relative;
}
.input_box label {
  position: absolute;
  top: -12px;
  left: 6px;
  margin-left: 6px;
  padding-left: 7px;
  padding-right: 10px;
  background-color: white;
}
.input_box input, .input_box input[type=text], .input_box input[type=tel], .input_box select {
  padding-top: 16px;
  padding-bottom: 13px;
  padding-left: 16px;
  padding-right: 13px;
  background-color: white;
  border: 2px solid #454343;
  outline: none;
  border-radius: 5px;
}
.input_box input:focus-visible, .input_box input:focus, .input_box input:focus-within, .input_box input:hover, .input_box input:focus, .input_box input:active, .input_box input:visited, .input_box input:target, .input_box input[type=text]:focus-visible, .input_box input[type=text]:focus, .input_box input[type=text]:focus-within, .input_box input[type=text]:hover, .input_box input[type=text]:focus, .input_box input[type=text]:active, .input_box input[type=text]:visited, .input_box input[type=text]:target, .input_box input[type=tel]:focus-visible, .input_box input[type=tel]:focus, .input_box input[type=tel]:focus-within, .input_box input[type=tel]:hover, .input_box input[type=tel]:focus, .input_box input[type=tel]:active, .input_box input[type=tel]:visited, .input_box input[type=tel]:target, .input_box select:focus-visible, .input_box select:focus, .input_box select:focus-within, .input_box select:hover, .input_box select:focus, .input_box select:active, .input_box select:visited, .input_box select:target {
  background-color: white !important;
  border: 2px solid #454343;
  outline: none;
}
.input_box input:-webkit-autofill, .input_box input:-webkit-autofill:hover, .input_box input:-webkit-autofill:focus, .input_box input:-webkit-autofill:active, .input_box input:-webkit-autofill:focus-visible, .input_box input:-webkit-autofill:focus-within, .input_box input:-webkit-autofill:visited, .input_box input:target, .input_box input[type=text]:-webkit-autofill, .input_box input[type=text]:-webkit-autofill:hover, .input_box input[type=text]:-webkit-autofill:focus, .input_box input[type=text]:-webkit-autofill:active, .input_box input[type=text]:-webkit-autofill:focus-visible, .input_box input[type=text]:-webkit-autofill:focus-within, .input_box input[type=text]:-webkit-autofill:visited, .input_box input[type=text]:target, .input_box input[type=tel]:-webkit-autofill, .input_box input[type=tel]:-webkit-autofill:hover, .input_box input[type=tel]:-webkit-autofill:focus, .input_box input[type=tel]:-webkit-autofill:active, .input_box input[type=tel]:-webkit-autofill:focus-visible, .input_box input[type=tel]:-webkit-autofill:focus-within, .input_box input[type=tel]:-webkit-autofill:visited, .input_box input[type=tel]:target, .input_box select:-webkit-autofill, .input_box select:-webkit-autofill:hover, .input_box select:-webkit-autofill:focus, .input_box select:-webkit-autofill:active, .input_box select:-webkit-autofill:focus-visible, .input_box select:-webkit-autofill:focus-within, .input_box select:-webkit-autofill:visited, .input_box select:target {
  box-shadow: 0 0 0 30px white inset !important;
}
.input_box input[type=email] {
  padding-top: 19px;
  padding-bottom: 16px;
  padding-left: 16px;
  padding-right: 13px;
  background-color: white;
  border: 2px solid #454343;
  outline: none;
  border-radius: 5px;
  color: #454343;
}
.input_box input[type=email]:focus-visible, .input_box input[type=email]:focus, .input_box input[type=email]:focus-within, .input_box input[type=email]:hover, .input_box input[type=email]:focus, .input_box input[type=email]:active, .input_box input[type=email]:visited, .input_box input[type=email]:target {
  background-color: white !important;
  border: 2px solid #454343;
  outline: none;
}
.input_box input[type=email]:-webkit-autofill, .input_box input[type=email]:-webkit-autofill:hover, .input_box input[type=email]:-webkit-autofill:focus, .input_box input[type=email]:-webkit-autofill:active, .input_box input[type=email]:-webkit-autofill:focus-visible, .input_box input[type=email]:-webkit-autofill:focus-within, .input_box input[type=email]:-webkit-autofill:visited, .input_box input[type=email]:target {
  box-shadow: 0 0 0 30px white inset !important;
}
.input_box input[type=text], .input_box input[type=tel], .input_box input[type=date], .input_box select {
  padding-top: 14px;
  padding-bottom: 6px;
  padding-left: 10px;
  padding-right: 8px;
  background-color: white;
  border: 1.8px solid #707070;
  outline: none;
  border-radius: 5px;
  color: #1c1c1c;
}
.input_box input[type=text]:focus-visible, .input_box input[type=text]:focus, .input_box input[type=text]:focus-within, .input_box input[type=text]:hover, .input_box input[type=text]:focus, .input_box input[type=text]:active, .input_box input[type=text]:visited, .input_box input[type=text]:target, .input_box input[type=tel]:focus-visible, .input_box input[type=tel]:focus, .input_box input[type=tel]:focus-within, .input_box input[type=tel]:hover, .input_box input[type=tel]:focus, .input_box input[type=tel]:active, .input_box input[type=tel]:visited, .input_box input[type=tel]:target, .input_box input[type=date]:focus-visible, .input_box input[type=date]:focus, .input_box input[type=date]:focus-within, .input_box input[type=date]:hover, .input_box input[type=date]:focus, .input_box input[type=date]:active, .input_box input[type=date]:visited, .input_box input[type=date]:target, .input_box select:focus-visible, .input_box select:focus, .input_box select:focus-within, .input_box select:hover, .input_box select:focus, .input_box select:active, .input_box select:visited, .input_box select:target {
  background-color: white !important;
  border: 2px solid #454343;
  outline: none;
}
.input_box input[type=text]:-webkit-autofill, .input_box input[type=text]:-webkit-autofill:hover, .input_box input[type=text]:-webkit-autofill:focus, .input_box input[type=text]:-webkit-autofill:active, .input_box input[type=text]:-webkit-autofill:focus-visible, .input_box input[type=text]:-webkit-autofill:focus-within, .input_box input[type=text]:-webkit-autofill:visited, .input_box input[type=text]:target, .input_box input[type=tel]:-webkit-autofill, .input_box input[type=tel]:-webkit-autofill:hover, .input_box input[type=tel]:-webkit-autofill:focus, .input_box input[type=tel]:-webkit-autofill:active, .input_box input[type=tel]:-webkit-autofill:focus-visible, .input_box input[type=tel]:-webkit-autofill:focus-within, .input_box input[type=tel]:-webkit-autofill:visited, .input_box input[type=tel]:target, .input_box input[type=date]:-webkit-autofill, .input_box input[type=date]:-webkit-autofill:hover, .input_box input[type=date]:-webkit-autofill:focus, .input_box input[type=date]:-webkit-autofill:active, .input_box input[type=date]:-webkit-autofill:focus-visible, .input_box input[type=date]:-webkit-autofill:focus-within, .input_box input[type=date]:-webkit-autofill:visited, .input_box input[type=date]:target, .input_box select:-webkit-autofill, .input_box select:-webkit-autofill:hover, .input_box select:-webkit-autofill:focus, .input_box select:-webkit-autofill:active, .input_box select:-webkit-autofill:focus-visible, .input_box select:-webkit-autofill:focus-within, .input_box select:-webkit-autofill:visited, .input_box select:target {
  box-shadow: 0 0 0 30px white inset !important;
}
.input_box input[type=text]:-webkit-autofill, .input_box input[type=text]:-webkit-autofill:hover, .input_box input[type=text]:-webkit-autofill:focus, .input_box input[type=text]:-webkit-autofill:active, .input_box input[type=text]:-webkit-autofill:focus-visible, .input_box input[type=text]:-webkit-autofill:focus-within, .input_box input[type=text]:-webkit-autofill:visited, .input_box input[type=text]:target, .input_box input[type=tel]:-webkit-autofill, .input_box input[type=tel]:-webkit-autofill:hover, .input_box input[type=tel]:-webkit-autofill:focus, .input_box input[type=tel]:-webkit-autofill:active, .input_box input[type=tel]:-webkit-autofill:focus-visible, .input_box input[type=tel]:-webkit-autofill:focus-within, .input_box input[type=tel]:-webkit-autofill:visited, .input_box input[type=tel]:target, .input_box input[type=date]:-webkit-autofill, .input_box input[type=date]:-webkit-autofill:hover, .input_box input[type=date]:-webkit-autofill:focus, .input_box input[type=date]:-webkit-autofill:active, .input_box input[type=date]:-webkit-autofill:focus-visible, .input_box input[type=date]:-webkit-autofill:focus-within, .input_box input[type=date]:-webkit-autofill:visited, .input_box input[type=date]:target, .input_box select:-webkit-autofill, .input_box select:-webkit-autofill:hover, .input_box select:-webkit-autofill:focus, .input_box select:-webkit-autofill:active, .input_box select:-webkit-autofill:focus-visible, .input_box select:-webkit-autofill:focus-within, .input_box select:-webkit-autofill:visited, .input_box select:target {
  -webkit-text-fill-color: #1c1c1c;
}

/* FORMAT DU CONTENUE DU CHAMP DE SAISIE */
/* ***************************************** */
.input_email label {
  font-size: 18px;
  color: #1c1c1c;
}
.input_email input[type=email] {
  max-width: 500px;
  font-size: 18px;
}
@media (max-width: 330px) {
  .input_email input[type=email] {
    min-width: 240px;
  }
}
@media (min-width: 330px) {
  .input_email input[type=email] {
    min-width: 330px;
  }
}
.input_email input[type=email]::placeholder {
  font-family: cabin_italic;
  font-size: 12px;
  color: #A2A0A0;
}

.input_text label {
  font-size: 16px;
  color: #707070;
}
.input_text input[type=text], .input_text input[type=tel], .input_text input[type=date], .input_text select {
  max-width: 500px;
  font-size: 16px;
}
@media (max-width: 330px) {
  .input_text input[type=text], .input_text input[type=tel], .input_text input[type=date], .input_text select {
    min-width: 240px;
  }
}
@media (min-width: 330px) {
  .input_text input[type=text], .input_text input[type=tel], .input_text input[type=date], .input_text select {
    min-width: 330px;
  }
}
.input_text input[type=text]::placeholder, .input_text input[type=tel]::placeholder, .input_text input[type=date]::placeholder, .input_text select::placeholder {
  font-family: cabin_italic;
  font-size: 12px;
  color: #A2A0A0;
}

/* ***************************************** */
/* ***************************************** */
/* CHECKBOX                                     */
/* ***************************************** */
/* ***************************************** */
.input_checkbox label {
  margin-left: 5px;
  font-size: 15px;
  color: #707070;
}
.input_checkbox input[type=checkbox] {
  appearance: none;
  width: 17px;
  height: 17px;
  margin: 0;
  transform: translateY(3.9px);
  border: 0.15em solid #E73058;
  border-radius: 3px;
  font: inherit;
}
.input_checkbox input[type=checkbox]:checked {
  background-color: #E73058;
}

/* ***************************************** */
/* ***************************************** */
/* BUTTON                                     */
/* ***************************************** */
/* ***************************************** */
button {
  appearance: none;
  width: 170px;
  height: 60px;
  margin: 0;
  box-shadow: -10px 16px 24px -18px rgba(0, 0, 0, 0.6);
  border: none;
  border-radius: 28px;
  font: inherit;
  background-color: #E73058;
  color: white;
}
button .btn_icone {
  font-family: montserrat_regular;
  font-size: 36px;
}
button .btn_texte {
  display: inline-block;
  transform: translateY(-7px);
  padding-left: 10px;
  font-size: 17px;
}

.erreur {
  margin-bottom: 70px;
  text-align: center;
}
.erreur p {
  color: #E73058;
}

.form_check_mail {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: ". input ." ". checkbox checkbox" ". button .";
}
.form_check_mail .input_email {
  grid-area: input;
}
.form_check_mail .input_checkbox {
  grid-area: checkbox;
  margin-top: 5px;
  margin-left: 5px;
  margin-bottom: 35px;
}
.form_check_mail button {
  grid-area: button;
  justify-self: center;
}

main {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 85px;
}
@media (min-width: 1100px) {
  main {
    min-height: 400px;
  }
}
@media (max-width: 1100px) {
  main {
    min-height: 340px;
  }
}
@media (max-width: 330px) {
  main {
    min-height: 230px;
  }
}

.form_adhesion {
  display: grid;
  justify-content: center;
}
@media (min-width: 330px) {
  .form_adhesion {
    margin-left: 30px;
    margin-right: 30px;
  }
}
@media (max-width: 330px) {
  .form_adhesion {
    margin-left: 10px;
    margin-right: 10px;
  }
}
.form_adhesion .input_checkbox {
  margin-bottom: 37px;
}

.grid_3inputs {
  display: grid;
  grid-template-columns: minmax(auto, 350px) minmax(auto, 350px) minmax(auto, 350px);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

.grid_2inputs {
  display: grid;
  grid-template-columns: minmax(auto, 350px) minmax(auto, 350px);
  grid-template-rows: auto;
  column-gap: 20px;
  row-gap: 30px;
  margin-bottom: 50px;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=app.css.map */
