    <!-- ---------------------------------- -->
    <!-- FORMULAIRE de vérification du mail -->
    <!-- ---------------------------------- -->

    <form action="" method="post" class="form_check_mail">
      
        <div class="input_box input_email">
          <label for="identifiant">Saisissez votre adresse mail</label>
          <input type="email" name="identifiant" id="identifiant" placeholder="Votre mail est votre identifiant" value="<% if (locals.identifiant) { %><%= identifiant %><% }; %>" required>
        </div>

        <div class="input_checkbox">
          <input type="checkbox" name="check_prof" id="check_prof">
          <label for="check_prof">Vous êtes professeur Suzuki <br>ou vous souhaitez vous former à la pédagogie Suzuki</label>
        </div>

        <!-- ---------------------------------- -->
        <!-- CLIQUEZ SUR BOUTON ADHÉRER -->
        <!-- ---------------------------------- -->

        <button type="submit" class="button_icone">
          <span class="btn_icone">+</span><span class="btn_texte">ADHÉRER</span>
        </button>

    </form>


    <!--  -->