    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- FORMULAIRE de saisie des diplomes -->
    <!-- ---------------------------------- -->

    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- VEUT-IL SAISIR DIPLOME ? -->
    <!-- ---------------------------------- -->
    <form>

        <div class="">
            <label for="check_prof_diplome">Vous êtes diplômé de la pédagogie Suzuki</label>
            <input type="checkbox" name="check_prof_diplome" id="check_prof_diplome">
        </div>

    </form>


    <!-- ---------------------------------- -->
    <!-- OUI - IL VEUT SAISIR DIPLOMES   -->
    <!-- AFFICHER DES INPUTS DIPLOME -->
    <!-- ---------------------------------- -->
    <form id="prof_diplome" class="prof_diplome_hidden" action="" method="post" >









    </form>



    <!-- ---------------------------------- -->
    <!-- CLIQUEZ SUR BOUTON ENREGISTRER -->
    <!-- ---------------------------------- -->
    <div class="">
        <input type="submit" value="Enregistrer">
    </div>