    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- FORMULAIRE de saisie Infos générales -->
    <!-- ---------------------------------- -->

    <form id="prof_infosgenerale" class="" action="" method="post" >
        <!-- ---------------------------------- -->
        <!-- AFFICHAGE DU MAIL SAISIE DANS L'ÉCRAN DE VÉRIFICATION DU MAIL -->
        <!-- ---------------------------------- -->
        <div class="">
            <p><%= mail %></p>
        </div>

        <!-- ---------------------------------- -->
        <!-- SAISIE DES INFORMATIONS -->
        <!-- ---------------------------------- -->
        <div class="">
          <label for="nom">Nom</label>
          <input type="text" name="nom" id="nom" required>
        </div>

        <div class="">
          <label for="prenom">Prénom</label>
          <input type="text" name="prenom" id="prenom" required>
        </div>

        <div class="">
          <label for="datenaiss">Date de naissance</label>
          <input type="date" name="datenaiss" id="datenaiss">
        </div>

        <div class="">
          <label for="rue">Rue</label>
          <input type="text" name="rue" id="rue">
        </div>

        <div class="">
          <label for="complementadresse">Complément d'adresse</label>
          <input type="text" name="complementadresse" id="complementadresse">
        </div>

        <div class="">
          <label for="codepostal">Code postal</label>
          <input type="text" name="codepostal" id="codepostal">
        </div>

        <div class="">
          <label for="ville">Ville</label>
          <input type="text" name="ville" id="ville">
        </div>

        <div class="">
          <label for="pays">Pays</label>
          <input type="text" name="pays" id="pays">
        </div>

        <div class="">
          <label for="telmobile">Téléphone mobile</label>
          <input type="tel" name="telmobile" id="telmobile">
        </div>

        <div class="">
          <label for="telfixe">Téléphone fixe</label>
          <input type="tel" name="telfixe" id="telfixe">
        </div>

