    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- FORMULAIRE de saisie de l'instrument dont il veut apprendre la pédagogie Suzuki -->
    <!-- ---------------------------------- -->



    <!-- ---------------------------------- -->
    <!-- OUI - IL VEUT SAISIR DIPLOMES   -->
    <!-- AFFICHER DES INPUTS DIPLOME -->
    <!-- ---------------------------------- -->
    <section id="prof_formation" class="hidden">


        <label for="adherent_prof_stagiaire_instrument1">Je suis en formation en :</label>
        <select id="adherent_prof_stagiaire_instrument1" name="adherent_prof_stagiaire_instrument1">
            <option value="" selected></option>
            <option value="Alto">Alto</option>
            <option value="Contrebasse">Contrebasse</option>
            <option value="Flûte traversière">Flûte traversière</option>
            <option value="Guitare">Guitare</option>
            <option value="Harpe">Harpe</option>
            <option value="Piano">Piano</option>
            <option value="Trompette">Trompette</option>
            <option value="Violon">Violon</option>
            <option value="Violoncelle">Violoncelle</option>
        </select>

        <label for="adherent_prof_stagiaire_instrument1_esa">Niveau</label>
        <select id="adherent_prof_stagiaire_instrument1_esa" name="adherent_prof_stagiaire_instrument1_esa">
            <option value="" selected></option>
            <option value="Niveau 1">Niveau 1</option>
            <option value="Niveau 2">Niveau 2</option>
            <option value="Niveau 3">Niveau 3</option>
            <option value="Niveau 4">Niveau 4</option>
            <option value="Niveau 5">Niveau 5</option>
            <option value="Instructeur 1">Instructeur (année 1)</option>
            <option value="Instructeur 2">Instructeur (année 2)</option>
        </select>

        <label for="adherent_prof_stagiaire_instrument1_prof">Formateur <span class="">(Vous pouvez en choisir plusieurs)</span></label>
        <select id="adherent_prof_stagiaire_instrument1_prof" name="adherent_prof_stagiaire_instrument1_prof" multiple size="5">
            <option value="" selected></option>
            <option value="basmadjianmuriel">BASMADJIAN Muriel</option>
            <option value="denisraphaelle">DENIS Raphaëlle</option>
            <option value="magrinialessandra">MAGRINI Alessandra</option>
            <option value="riveraeva">RIVERA Eva</option>
            <option value="basmadjianmuriel">BASMADJIAN Muriel</option>
            <option value="denisraphaelle">DENIS Raphaëlle</option>
            <option value="magrinialessandra">MAGRINI Alessandra</option>
            <option value="riveraeva">RIVERA Eva</option>
            <option value="basmadjianmuriel">BASMADJIAN Muriel</option>
            <option value="denisraphaelle">DENIS Raphaëlle</option>
            <option value="magrinialessandra">MAGRINI Alessandra</option>
            <option value="riveraeva">RIVERA Eva</option>
        </select>


        <label for="adherent_prof_stagiaire_instrument2">Je suis en formation en :</label>
        <select id="adherent_prof_stagiaire_instrument2" name="adherent_prof_stagiaire_instrument2">
            <option value="" selected></option>
            <option value="Alto">Alto</option>
            <option value="Contrebasse">Contrebasse</option>
            <option value="Flûte traversière">Flûte traversière</option>
            <option value="Guitare">Guitare</option>
            <option value="Harpe">Harpe</option>
            <option value="Piano">Piano</option>
            <option value="Trompette">Trompette</option>
            <option value="Violon">Violon</option>
            <option value="Violoncelle">Violoncelle</option>
        </select>

        <label for="adherent_prof_stagiaire_instrument2_esa">Niveau</label>
        <select id="adherent_prof_stagiaire_instrument2_esa" name="adherent_prof_stagiaire_instrument2_esa">
            <option value="" selected></option>
            <option value="Niveau 1">Niveau 1</option>
            <option value="Niveau 2">Niveau 2</option>
            <option value="Niveau 3">Niveau 3</option>
            <option value="Niveau 4">Niveau 4</option>
            <option value="Niveau 5">Niveau 5</option>
            <option value="Instructeur 1">Instructeur (année 1)</option>
            <option value="Instructeur 2">Instructeur (année 2)</option>
        </select>

        <label for="adherent_prof_stagiaire_instrument2_prof">Formateur <span class="">(Vous pouvez en choisir plusieurs)</span></label>
        <select id="adherent_prof_stagiaire_instrument2_prof" name="adherent_prof_stagiaire_instrument2_prof" multiple size="5">
            <option value="" selected></option>
            <option value="basmadjianmuriel">BASMADJIAN Muriel</option>
            <option value="denisraphaelle">DENIS Raphaëlle</option>
            <option value="magrinialessandra">MAGRINI Alessandra</option>
            <option value="riveraeva">RIVERA Eva</option>
            <option value="basmadjianmuriel">BASMADJIAN Muriel</option>
            <option value="denisraphaelle">DENIS Raphaëlle</option>
            <option value="magrinialessandra">MAGRINI Alessandra</option>
            <option value="riveraeva">RIVERA Eva</option>
            <option value="basmadjianmuriel">BASMADJIAN Muriel</option>
            <option value="denisraphaelle">DENIS Raphaëlle</option>
            <option value="magrinialessandra">MAGRINI Alessandra</option>
            <option value="riveraeva">RIVERA Eva</option>
        </select>


    </section>

