    <!-- ---------------------------------- -->
    <!-- PROF                               -->
    <!-- FORMULAIRE de saisie Infos générales -->
    <!-- ---------------------------------- -->

    <section id="prof_infosgenerale" class="">
      <!-- ---------------------------------- -->
      <!-- AFFICHAGE DU MAIL SAISIE DANS L'ÉCRAN DE VÉRIFICATION DU MAIL -->
      <!-- ---------------------------------- -->
      <div class="">
          <p><%= identifiant %></p>
      </div>

      <!-- ---------------------------------- -->
      <!-- SAISIE DES INFORMATIONS -->
      <!-- ---------------------------------- -->
      <div class="">
        <label for="adherent_nom">Nom</label>
        <input type="text" name="adherent_nom" id="adherent_nom" value="<% if (locals.adherent_nom) { %><%= adherent_nom %><% }; %>" required>
      </div>

      <div class="">
        <label for="adherent_prenom">Prénom</label>
        <input type="text" name="adherent_prenom" id="adherent_prenom" required>
      </div>

      <div class="">
        <label for="adherent_datenaissance">Date de naissance</label>
        <input type="date" name="adherent_datenaissance" id="adherent_datenaissance">
      </div>

      <div class="">
        <label for="adherent_adresse_rue">Rue</label>
        <input type="text" name="adherent_adresse_rue" id="adherent_adresse_rue">
      </div>

      <div class="">
        <label for="adherent_adresse_complement">Complément d'adresse</label>
        <input type="text" name="adherent_adresse_complement" id="adherent_adresse_complement">
      </div>

      <div class="">
        <label for="adherent_adresse_codepostal">Code postal</label>
        <input type="text" name="adherent_adresse_codepostal" id="adherent_adresse_codepostal">
      </div>

      <div class="">
        <label for="adherent_adresse_ville">Ville</label>
        <input type="text" name="adherent_adresse_ville" id="adherent_adresse_ville">
      </div>

      <div class="">
        <label for="adherent_adresse_pays">Pays</label>
        <input type="text" name="adherent_adresse_pays" id="adherent_adresse_pays">
      </div>

      <div class="">
        <label for="adherent_telephone_mobile">Téléphone mobile</label>
        <input type="tel" name="adherent_telephone_mobile" id="adherent_telephone_mobile">
      </div>

      <div class="">
        <label for="adherent_telephone_fixe">Téléphone fixe</label>
        <input type="tel" name="adherent_telephone_fixe" id="adherent_telephone_fixe">
      </div>
    </section>
