/* SCSS */
/* VARIABLES */
/* COLORS */

// /////////////////////////////////
// VARIABLES DES COULEURS
// /////////////////////////////////

// NOIR
$color_noir: #343434;
$color_noir_fonce: #252525;
$color_noir_fonce: #454343;
$color_noir_clair: #939292;
$color_gris_fonce: #707070;
$color_gris_clair: #A2A0A0;
$color_rouge: #E73058;
$color_blanc: white;


// /////////////////////////////////
// CSS COULEURS
// /////////////////////////////////

