/* SCSS */
/* VARIABLES */
/* COLORS */

// /////////////////////////////////
// VARIABLES DES COULEURS
// /////////////////////////////////

// NOIR
$color_noir: #343434;
$color_noir_fonce: #454343;
$color_noir_clair: #1c1c1c;
$color_gris_fonce: #707070;
$color_gris_clair: #A2A0A0;
$color_rouge: #E73058;
$color_rouge_tres_clair: #e7305821;
$color_blanc: white;

$color_bleu: #3644AC;
$color_bleu_clair: #7984D1;
$color_bleu_clair2: #525EBB;
$color_bleu_fonce_1: #1B299A;
$color_bleu_fonce_2: #101D77;

// /////////////////////////////////
// CSS COULEURS
// /////////////////////////////////

