/* SCSS */
/* VARIABLES */
/* COLORS */

// /////////////////////////////////
// VARIABLES DES COULEURS
// /////////////////////////////////

// NOIR
$color_noir: #040001;
$color_noir_fonce: #252525;
$color_noir_moyen: #4A4A4A;
$color_gris_fonce: #707070;
$color_gris_clair: #969696;
$color_violet: #8224E3;
$color_blanc: white;


// /////////////////////////////////
// CSS COULEURS
// /////////////////////////////////

.txt_color_violet {
    color: $color_violet;
}