
$breakpoints: (
    "phone": 400px,
    "tablet": 1100px,
    "desktop": 1100px,
);

@mixin media_min($key) {
    @media (min-width: map-get($breakpoints,$key)) {
        &{ @content; }
    }
}


/*
@media (max-width: 9999px)
*/
@mixin media_max($key) {
    @media (max-width: map-get($breakpoints,$key)) {
        &{ @content; }
    }
}

@mixin media_minmax($key_min, $key_max) {
    @media (min-width: map-get($breakpoints,$key_min)) and (max-width: map-get($breakpoints,$key_max)) {
        &{ @content; }
    }
}
