<!-- //////////////////////////// -->
<!-- HEADER -->
<!-- //////////////////////////// -->
<header>
    <div class="logo">
        <img src="/public/images/logos/LogoSuzukiGris.png" alt="">
    </div>

    <div>
        <h1>Adhésion annuelle à l’Association Française pour la Pédagogie Suzuki</h1>
        <p>Année 2022/2023</p>
    </div>

</header>