<!DOCTYPE html>
<html lang="fr-FR">
<!-- 
Vous regardez dans mon code ;) N'hésitez pas à communiquer avec moi
et discuter du codage, webdesign... ;)
Et aussi vos commentaires ;)
A bientôt ! contact at juliechaumard dot paris
ou juliechaumard sur Linkedin
-->
<!-- Testé sur les navigrateurs
Firefox
Safari
Chrome
-->
<head>

  <!-- IE interdire mode de compatibilité -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
  <!-- Encodage -->
  <meta charset="UTF-8">

  <!-- Moteur de recherche indexation -->
  <meta name="robots" content="all">
  
  <!-- Taille écran étalonnage -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <!-- Titre -->
  <title>AFPS - Adhésion</title>

  <!-- Description -->
  <meta name="description" content="Association Française Suzuki pour la Pédagogie - ADHÉSION">

  <!-- mots-clés -->
  <meta name="keywords" content="musique, apprentissage, cours, pedagogie, suzuki">

  <!-- Auteur / Créateur / Publication -->
  <link rel="author" href="mailto:juliechaumard@icloud.com" title="JulieChaumard.paris" />
  <meta name="creator" content="JulieChaumard.paris">
  <meta name="publisher" content="AFPS">

  <!-- Page accueil -->
  <link rel="start" href="" />

  <!-- Logiciel utilisé pour créer la page -->
  <meta name="generator" content="Visual Studio code">

  <!-- Géolocalisation -->
  <meta name="DC.title" content="AFPS">
  <meta name="geo.region" content="FR-75">
  <meta name="geo.placename" content="Paris">
  <meta name="geo.position" content="48.866669;2.33333">
  <meta name="ICBM" content="48.866669;2.33333">
  
  <!-- Open Graph -->
  <!-- TOUTES PAGES SAUF FICHE CONCERT -->

    <meta property="og:type" content="website">
    <meta property="og:locale" content="fr_FR">
    <meta property="og:title" content="Association Française Suzuki pour la Pédagogie">
    <meta property="og:description" content="Association Française Suzuki pour la Pédagogie">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:image:alt" content="Illustration du site">

  <!-- CSS -->
  <link href="/public/css/app.css" rel="stylesheet">

  <!-- FontAwesome -->
  <script src="https://kit.fontawesome.com/ef8b87052e.js" crossorigin="anonymous"></script>
	
  <!-- To warn any users that have JavaScript disabled that your page relies on JavaScript -->
	<noscript>
	  <p><strong>Cette page requiert que JavaScript soit activé pour fonctionner correctement. / This web page requires JavaScript to be enabled.</strong></p>
	  <p>JavaScript is an object-oriented computer programming language 
	    commonly used to create interactive effects within web browsers.</p>
	  <p><a href="https://goo.gl/koeeaJ">How to enable JavaScript?</a></p>
	</noscript>

</head>